.mob-nv{
  animation: fedLeft 1ms 1ms ease;
  /* opacity: 0; */
}

@keyframes fedLeft {
  from{
  transform: translateX(0);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.active{
  color: aliceblue;
  background:#e98383 ;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
}

input[type="date"]::-webkit-input-placeholder {
  color: #999;
  content: "checkin";
}



.c_conteiner{
  max-width: 1320px;
  margin: auto;
  padding: 0 1rem;
}


@media (width<770px) {
  .c_conteiner{
    max-width: 720px;
    margin: auto;
    padding: 0 1rem;
  }
}
@media (width<568px) {
  .c_conteiner{
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
  }
}